
.Trailers  {

    h2 {
        padding: 13px 0;
        font-size: 1.2rem;
    }

    &__item {

        padding: 20px 12px;

        img {
            max-width: 250px;
            width: 100%;
            border-radius: 12px;
        }

        button {
            border: none;
            border-radius: 12px;
            cursor: pointer;
        }
    }


}